.vendor-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #2563eb; /* blue-600 */
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.form-label {
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
#successToast {
    transition: opacity 0.5s ease;
}

